<header>
  <div id="banner">
    <img
      src="/styles/images/logo.png"
      id="logo"
      title="CMBDev Logo"
      alt="CMBDev Logo"
    />
    <p id="slogan"><strong>full-stack web development services</strong></p>
  </div>

  <nav>
    <ul class="menu">
      <li><a href="/" class="nav-link">.home</a></li>
      <li><a href="/pages/services.html" class="nav-link">.services</a></li>
      <li><a href="/pages/scheduler.html" class="nav-link">.scheduleAppointment</a></li>
      <li><a href="/pages/aboutme.html" class="nav-link">.aboutMe</a></li>
    </ul>
  </nav>
</header>
